<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>editUsers</title>
</head>
<body>
<div align="center">
    <h3>Edit Form</h3>
    <br>
    <form th:action="@{/admin/edit/{id} (id=*{id})}" th:object="${editUser}" method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" th:field="*{name}"/></td>
                <td>SurName</td>
                <td><input type="text" name="surname" th:field="*{surname}"/></td>
            </tr>

        </table>
        <br>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>